// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

// Placehoders
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Layout Styles

.main {
    width: 100%;
    height: 100%;
    background: #777;
    @extend %flex-center;

    &__content {
        width: 375px;
        height: 680px;
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0px 4px 24px 8px rgba($color:#000, $alpha:.1); 
        display: grid;
        grid-template-rows: 6rem 1fr;
        grid-template-columns: 1fr; 
        overflow: hidden;
    }
    
    .content {
        &__header {
        grid-area: 1 / 1 / 2 / 2;
        }

        &__details {
            grid-area: 2 / 1 / 3 / 2;
            display: grid;
            grid-template-rows: 60% 40%;
            grid-template-columns: 1fr;

            .details {
                &__one,
                &__two {
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 6rem 1fr;

                    .__right {
                        grid-area: 1 / 1 /  2 / 2;
                    }
                    .__left {
                        grid-area: 1 / 2 / 2 / 3;
                    }
                }
            }
        }
    }
}

// Content Styles

.content__header {
    display: flex;
    align-items: center;

    .header {
        &__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            .content {
                &__logo {
                    width: 2rem;
                    height: 2rem;
                }

                &__icon {
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}
.details {
    &__one {
        .__right {
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            .right__content {
                transform: rotate(-90deg);
                text-transform: uppercase;
                font-size: 1rem;
                line-height: 0.825rem;
                letter-spacing: .1rem;
            }
        }

        .__left {
            background: url(https://images.unsplash.com/photo-1506634064465-7dab4de896ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7232062a1dd25e81e64cb63782b0172d&auto=format&fit=crop&w=2134&q=80) center center / cover no-repeat;
        }
    }

    &__two {
        .__right {
            background: #000;
            display: flex;
            align-items: center;
            justify-content: center;

            .right__content {
                transform: rotate(-90deg);
                color: #fff;
            }
        }

        .__left {
            display:flex;
            justify-content: center;
            align-items: center;
            
            .left__content {
                margin: 2rem;

                .content__title {
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    line-height: 0.825rem;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}